.contacts {
  padding-top: 104px;
  @media screen and (min-width: 768px) {
    padding-top: 136px;
  }

  width: 100%;
  background-image: url('/src/images/contact/background.png');
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('/src/images/contact/backgroundx2.png');
  }
}

.contacts__img {
  margin-bottom: 16px;
  @media screen and (min-width: 768px) {
    width: 688px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 32px;
  }
  @media screen and (min-width: 1280px) {
    width: 1200px;
    margin-bottom: 60px;
  }
}

.contacts__title {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  color: #ffffff;
  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 56px;
    line-height: 1.18;
  }
}

.contacts__page {
  @media screen and (min-width: 1280px) {
    display: flex;
    justify-content: space-between;
  }
}

.contacts__block {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: normal;
  color: #ffffff;
  margin-bottom: 24px;
  @media screen and (max-width: 767px) {
    max-width: 288px;
  }
  @media screen and (min-width: 768px) {
    max-width: 488px;
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 32px;
  }
}

.contacts__text {
  margin-bottom: 24px;
}

.contacts__connection {
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 32px;
    margin-bottom: 40px;
  }
}

.contacts__mail {
  margin-bottom: 24px;
}

.contacts__info-title {
  font-size: 16px;
  line-height: 1.19;
  color: #ffffff;
  margin-bottom: 8px;
  @media screen and (min-width: 768px) {
    max-width: 488px;
    font-size: 24px;
    line-height: 1.17;
  }
}

.contacts__phone {
  margin-bottom: 24px;
}

.contacts__info-item:not(:last-child) {
  margin-bottom: 8px;
}

.contacts__data {
  font-size: 16px;
  line-height: 1.19;
  color: #8d9289;
  @media screen and (min-width: 768px) {
    max-width: 488px;
    font-size: 24px;
    line-height: 1.17;
  }
  &:hover,
  &:focus {
    color: var(--btn-color);
    -webkit-text-shadow: 2px 2px 2px #000;
    -moz-text-shadow: 2px 2px 2px #000;
    text-shadow: 2px 2px 2px #000;
  }
}

.contacts__form {
  @media screen and (min-width: 768px) {
    max-width: 592px;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 1280px) {
    margin-left: 0;
    margin-right: 0;
  }
}

.contacts__form-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  color: #86e543;
  margin-bottom: 16px;
  @media screen and (min-width: 768px) {
    font-size: 36px;
    margin-bottom: 48px;
  }
}

.contacts__form-input {
  font-size: 16px;
  line-height: 1.25;
  text-transform: capitalize;
  color: #ffffff;
  outline: transparent;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #86e543;
  width: 100%;
  margin-bottom: 64px;
  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 1.11;
  }
}

.comment__title {
  font-size: 16px;
  line-height: 1.25;
  color: #cdcdcd;
  margin-bottom: 4px;
  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 1.11;
  }
}

.contacts__message-input {
  width: 100%;
  resize: none;
  border: 1px solid #86e543;
  outline: transparent;
  background-color: transparent;
  margin-bottom: 24px;
  color: #ffffff;
  @media screen and (min-width: 768px) {
    width: 590px;
    height: 120px;
    margin-bottom: 34px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 46px;
  }
}

.contacts__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
  text-transform: uppercase;
  color: #ffffff;
  padding: 16px 66px;
  background-color: transparent;
  max-width: 173px;
  max-height: 51px;
  border: 1px solid #ffffff;
  border-radius: 16px;
  display: block;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.19;
    padding: 16px 112px;
    max-width: 306px;
    max-height: 70px;
  }
  @media screen and (min-width: 1280px) {
    margin-left: 0;
  }
}

.contacts__button:hover,
.contacts__button:focus {
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.1),
    0px 4px 20px rgba(255, 255, 255, 0.4);
}
