.footer {
  background-color: #001414;
  padding-top: 40px;
  padding-bottom: 40px;
  @media screen and (min-width: 768px) {
    height: 215px;
  }
}
.footer-thumb {
  width: 100%;
  max-width: 480px;
  @media screen and (min-width: 768px) {
    display: flex;
    max-width: 768px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 1200px;
  }
}
.logo {
  display: inline-block;
  height: 56px;
  font-family: inherit;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-align: center;
  color: #ffffff;
  margin-top: 25px;
  @media screen and (min-width: 768px) {
    margin-top: 0;
    margin-left: 40px;
  }
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 2;
  &:hover,
  &:focus {
    transform: scale(1.15);
  }
}
.footer-menu__thumb {
  margin-top: 25px;
  display: flex;
  @media screen and (min-width: 768px) {
    margin-top: 0;
    margin-left: 61px;
  }
  @media screen and (min-width: 1280px) {
    margin-left: 118px;
  }
}

.footer-menu__list {
  margin-bottom: 24px;
  @media screen and (min-width: 768px) {
    margin-right: 89px;
  }
  @media screen and (min-width: 1280px) {
    margin-right: 217px;
  }
}

.footer-menu__item {
  height: 12px;
  position: relative;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  --border-right: 6px;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--btn-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--btn-color);
}

.footer-menu__item:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--btn-color));
}

.footer-menu__item:not(:last-child) {
  margin-bottom: 16px;
}

.footer-join__list {
  margin-left: auto;
  margin-right: 32px;
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 16px;
  }
  @media screen and (min-width: 1280px) {
    display: block;
  }
}

.footer-join__item {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
  border-radius: 50%;
  &:not(:last-child) {
    margin-bottom: 32px;
  }
  @media screen and (min-width: 1280px) {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
  &:hover {
    @media (hover: hover) {
      background-color: white;
      background-position: -100px 100px, -100px 100px;
      transform: rotate(0.5, 1, 0, 30deg);
      transform: perspective(180px) rotateX(60deg) translateY(2px);
      box-shadow: 0px 10px 10px var(--btn-color);
    }
  }
}

.footer-join__link {
  border: none;
  background-color: transparent;
  font-size: 20px;
  &:hover {
    @media (hover: hover) {
      width: inherit;
      height: inherit;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translate3d(0px, 0px, 15px) perspective(180px) rotateX(-35deg)
        translateY(2px);
      border-radius: 50%;
    }
  }
}

// .footer-join__link:hover {
//   width: inherit;
//   height: inherit;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   transform: translate3d(0px, 0px, 15px) perspective(180px) rotateX(-35deg)
//     translateY(2px);
//   border-radius: 50%;
// }

.footer-contact__thumb {
  @media screen and (min-width: 768px) {
    margin-left: auto;
    margin-right: 11px;
  }
  @media screen and (min-width: 1280px) {
    &:not(:last-child) {
      margin-left: 179px;
    }
  }
}

.footer-contact__tittle {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: #ffffff;
  margin-bottom: 8px;
}

.footer-email__list {
  margin-bottom: 16px;
}

.footer-tel__item {
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.footer-contact__link {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: #8d9289;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  // &:hover,
  // &:focus {
  //   color: var(--btn-color);
  //   -webkit-text-shadow: 2px 2px 2px #000;
  //   -moz-text-shadow: 2px 2px 2px #000;
  //   text-shadow: 2px 2px 2px #000;
  // }
}
