.gallery {
  background-color: #01383a;
}

.swiper {
  width: 100%;
  height: 100%;
  border-width: 2px 0px;
  border-style: solid;
  border-color: #86e543;
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  opacity: 1;
  margin: 0 a;
}
