.sale {
  background-image: url(/src/images/sale/background-mob-1x.jpg);
  width: 100%;
  @media screen and (min-width: 768px) {
    background-image: url(/src/images/sale/background-tab-1x.jpg);
  }
  @media screen and (min-width: 1280px) {
    background-image: url(/src/images/sale/background-dt-1x.jpg);
  }
}

.sale-cards {
  @media screen and (min-width: 480px) {
    width: 480px;
    margin: 0 auto;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    padding: 0 80px;
    margin: 0 auto;
  }
  @media screen and (min-width: 1280px) {
    width: 1280px;
    padding: 0 40px;
    margin: 0 auto;
  }
}

.mob-is-hidden {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.sale-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  color: #ffffff;
  padding-left: 80px;
  margin-bottom: 4px;
  @media screen and (min-width: 768px) {
    font-size: 56px;
    line-height: 1.18;
    padding-left: 62px;
  }
}

.sale-list {
  @media screen and (max-width: 767px) {
    margin-bottom: 24px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 28px;
    display: flex;
    flex-wrap: wrap;
    gap: 38px;
    row-gap: 32px;
    justify-content: center;
  }
  @media screen and (min-width: 1280px) {
    gap: 20px;
    row-gap: 24px;
    margin-bottom: 24px;
  }
}

.sale-item {
  padding-bottom: 12px;
  transition: all 0.5s ease;
  @media screen and (max-width: 767px) {
    margin-bottom: 24px;
  }
}

.sale-link {
  &:hover,
  &:focus {
    color: var(--btn-color);
    -webkit-text-shadow: 2px 2px 2px #000;
    -moz-text-shadow: 2px 2px 2px #000;
    text-shadow: 2px 2px 2px #000;
    transform: scale(1.15);
  }
}

.sale-img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  margin-bottom: 8px;
}

.product-title {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.18;
  color: #86e543;
  max-width: 261px;
  padding-left: 8px;
  margin-bottom: 8px;
}

.product-prices {
  padding: 0 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.old-price {
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  text-decoration-line: line-through;
  color: #8d9289;
}

.new-price {
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: #86e543;
}

.container-sale-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 200px;
  margin: 0 auto;
}

.container-sale-btn .sale-btn {
  height: 50px;
  margin: 20px;
  margin-bottom: 40px;
  position: relative;
  width: 155px;
}

.container-sale-btn .sale-btn a {
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  box-shadow: 0 15px 35px rgba(255, 255, 255, 0.2);
  color: #fff;
  display: flex;
  font-size: 18px;
  font-weight: 700;
  left: 0;
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  justify-content: center;
  letter-spacing: 1px;
  text-decoration: none;
  overflow: hidden;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(15px);
  z-index: 1;
  transition: 0.2s;
}

.container-sale-btn .sale-btn:hover a {
  letter-spacing: 2px;
}

.container-sale-btn .sale-btn a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
  transform: skewX(45deg) translateX(0);
  transition: 0.2s;
}

.container-sale-btn .sale-btn:hover a::before {
  transform: skewX(45deg) translateX(200%);
}

.container-sale-btn .sale-btn::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
  height: 10px;
  width: 30px;
  background: rgb(63, 238, 10);
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0s;
}

.container-sale-btn .sale-btn:hover::before {
  bottom: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
  transition-delay: 0.2s;
}

.container-sale-btn .sale-btn::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -5px;
  height: 10px;
  width: 30px;
  background: rgb(7, 245, 59);
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0s;
}

.container-sale-btn .sale-btn:hover::after {
  top: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
  transition-delay: 0.2s;
}
